* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
    line-height: 1.6;
    max-width: 320px;

}

.hair {
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center;
    background-color: #ffffff;
    width: 320px;
    height: 88px;
    padding: 10px;


}

.burger {
    display: flex;
    gap: 15px;
    
    
}

.search {
    display: flex;
    gap: 15px;
}

.line {
    background-color: #EAEAEA ;
    width: 2px;
    height: 32px;
}

.hair__button {
    border: none;
    background: none;
}